<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renyr.demo2.mapper.UserMapper">
    <!-- 查询日志信息-->
    <select id="selectList" resultType="com.renyr.demo2.model.User">
		select * from USER
	</select>
	<select id="selectById" resultType="com.renyr.demo2.model.User">
		select * from USER WHERE ID=#{id}
	</select>
</mapper>